<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="row mb-4">
    <h2 class="mb-4 mt-4">Contact Us</h2>
    <div class="col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-title"><b><i class="fa-solid fa-phone text-success"></i> Phone Number: </b></p>
                <p class="text-body">+250782503097</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-title"><b><i class="fa-solid fa-envelope text-danger"></i> Email Address: </b></p>
                <p class="text-body">merchiorabawee@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-title"><b><i class="fa-solid fa-location-dot text-danger"></i> Address: </b></p>
                <p class="text-body">Nyarugenge, Kigali, Rwanda</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}